div {
    visibility: inherit;
    opacity: 1;
    display: inline-block;
}

.mc-menu-filter-item.col-lg-4 {
    width: 32.5% !important;
}

.mc-products-product-section {
    padding: 3px;
}

.mc-menu-filter-item {
    display: inline-block;
    float: none !important;
    position: relative;
}